td {
    height: 30px;
    width: 30px;
    background-color: brown;
}

td#heroi{
    color: lightblue;
}

.orc{
    color: lightgreen;
}

.tesouro{
    color: gold;
}

.parede{
    font-size: 0px;
    background-color: gray;
}